<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>no tone change</key>
	<array>
		<array>
			<string>你們</string>
			<string>妳們</string>
		</array>
		<array>
			<string>你</string>
			<string>妳</string>
		</array>
		<array>
			<string>他的</string>
			<string>她的</string>
			<string>它的</string>
		</array>
		<array>
			<string>他們</string>
			<string>她們</string>
			<string>它們</string>
		</array>
		<array>
			<string>他</string>
			<string>她</string>
		</array>
	</array>
	<key>tone change</key>
	<array>
		<array>
			<string>嗎</string>
			<string>嘛</string>
		</array>
		<array>
			<string>有</string>
			<string>又</string>
		</array>
		<array>
			<string>哪個</string>
			<string>那個</string>
		</array>
		<array>
			<string>那</string>
			<string>哪</string>
		</array>
		<array>
			<string>買</string>
			<string>賣</string>
		</array>
		<array>
			<string>收</string>
			<string>受</string>
		</array>
	</array>
</dict>
</plist>
