<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ㄅㄚ</key>
	<string>ba</string>
	<key>ㄅㄛ</key>
	<string>bo</string>
	<key>ㄅㄞ</key>
	<string>bai</string>
	<key>ㄅㄟ</key>
	<string>bei</string>
	<key>ㄅㄠ</key>
	<string>bao</string>
	<key>ㄅㄢ</key>
	<string>ban</string>
	<key>ㄅㄣ</key>
	<string>ben</string>
	<key>ㄅㄤ</key>
	<string>bang</string>
	<key>ㄅㄥ</key>
	<string>beng</string>
	<key>ㄅㄧ</key>
	<string>bi</string>
	<key>ㄅㄧㄝ</key>
	<string>bie</string>
	<key>ㄅㄧㄠ</key>
	<string>biao</string>
	<key>ㄅㄧㄢ</key>
	<string>bian</string>
	<key>ㄅㄧㄣ</key>
	<string>bin</string>
	<key>ㄅㄧㄥ</key>
	<string>bing</string>
	<key>ㄅㄨ</key>
	<string>bu</string>
	<key>ㄆㄚ</key>
	<string>pa</string>
	<key>ㄆㄛ</key>
	<string>po</string>
	<key>ㄆㄞ</key>
	<string>pai</string>
	<key>ㄆㄟ</key>
	<string>pei</string>
	<key>ㄆㄠ</key>
	<string>pao</string>
	<key>ㄆㄡ</key>
	<string>pou</string>
	<key>ㄆㄢ</key>
	<string>pan</string>
	<key>ㄆㄣ</key>
	<string>pen</string>
	<key>ㄆㄤ</key>
	<string>pang</string>
	<key>ㄆㄥ</key>
	<string>peng</string>
	<key>ㄆㄧ</key>
	<string>pi</string>
	<key>ㄆㄧㄝ</key>
	<string>pie</string>
	<key>ㄆㄧㄠ</key>
	<string>piao</string>
	<key>ㄆㄧㄢ</key>
	<string>pian</string>
	<key>ㄆㄧㄣ</key>
	<string>pin</string>
	<key>ㄆㄧㄥ</key>
	<string>ping</string>
	<key>ㄆㄨ</key>
	<string>pu</string>
	<key>ㄇㄚ</key>
	<string>ma</string>
	<key>ㄇㄛ</key>
	<string>mo</string>
	<key>ㄇㄜ</key>
	<string>me</string>
	<key>ㄇㄞ</key>
	<string>mai</string>
	<key>ㄇㄟ</key>
	<string>mei</string>
	<key>ㄇㄠ</key>
	<string>mao</string>
	<key>ㄇㄡ</key>
	<string>mou</string>
	<key>ㄇㄢ</key>
	<string>man</string>
	<key>ㄇㄣ</key>
	<string>men</string>
	<key>ㄇㄤ</key>
	<string>mang</string>
	<key>ㄇㄥ</key>
	<string>meng</string>
	<key>ㄇㄧ</key>
	<string>mi</string>
	<key>ㄇㄧㄝ</key>
	<string>mie</string>
	<key>ㄇㄧㄠ</key>
	<string>miao</string>
	<key>ㄇㄧㄡ</key>
	<string>miu</string>
	<key>ㄇㄧㄢ</key>
	<string>mian</string>
	<key>ㄇㄧㄣ</key>
	<string>min</string>
	<key>ㄇㄧㄥ</key>
	<string>ming</string>
	<key>ㄇㄨ</key>
	<string>mu</string>
	<key>ㄈㄚ</key>
	<string>fa</string>
	<key>ㄈㄛ</key>
	<string>fo</string>
	<key>ㄈㄟ</key>
	<string>fei</string>
	<key>ㄈㄡ</key>
	<string>fou</string>
	<key>ㄈㄢ</key>
	<string>fan</string>
	<key>ㄈㄣ</key>
	<string>fen</string>
	<key>ㄈㄤ</key>
	<string>fang</string>
	<key>ㄈㄥ</key>
	<string>feng</string>
	<key>ㄈㄨ</key>
	<string>fu</string>
	<key>ㄉㄚ</key>
	<string>da</string>
	<key>ㄉㄜ</key>
	<string>de</string>
	<key>ㄉㄞ</key>
	<string>dai</string>
	<key>ㄉㄟ</key>
	<string>dei</string>
	<key>ㄉㄠ</key>
	<string>dao</string>
	<key>ㄉㄡ</key>
	<string>dou</string>
	<key>ㄉㄢ</key>
	<string>dan</string>
	<key>ㄉㄤ</key>
	<string>dang</string>
	<key>ㄉㄥ</key>
	<string>deng</string>
	<key>ㄉㄧ</key>
	<string>di</string>
	<key>ㄉㄧㄚ</key>
	<string>dia</string>
	<key>ㄉㄧㄝ</key>
	<string>die</string>
	<key>ㄉㄧㄠ</key>
	<string>diao</string>
	<key>ㄉㄧㄡ</key>
	<string>diu</string>
	<key>ㄉㄧㄢ</key>
	<string>dian</string>
	<key>ㄉㄧㄤ</key>
	<string>diang</string>
	<key>ㄉㄧㄥ</key>
	<string>ding</string>
	<key>ㄉㄨ</key>
	<string>du</string>
	<key>ㄉㄨㄛ</key>
	<string>duo</string>
	<key>ㄉㄨㄟ</key>
	<string>dui</string>
	<key>ㄉㄨㄢ</key>
	<string>duan</string>
	<key>ㄉㄨㄣ</key>
	<string>dun</string>
	<key>ㄉㄨㄥ</key>
	<string>dong</string>
	<key>ㄊㄚ</key>
	<string>ta</string>
	<key>ㄊㄜ</key>
	<string>te</string>
	<key>ㄊㄞ</key>
	<string>tai</string>
	<key>ㄊㄠ</key>
	<string>tao</string>
	<key>ㄊㄡ</key>
	<string>tou</string>
	<key>ㄊㄢ</key>
	<string>tan</string>
	<key>ㄊㄤ</key>
	<string>tang</string>
	<key>ㄊㄥ</key>
	<string>teng</string>
	<key>ㄊㄧ</key>
	<string>ti</string>
	<key>ㄊㄧㄝ</key>
	<string>tie</string>
	<key>ㄊㄧㄠ</key>
	<string>tiao</string>
	<key>ㄊㄧㄢ</key>
	<string>tian</string>
	<key>ㄊㄧㄥ</key>
	<string>ting</string>
	<key>ㄊㄨ</key>
	<string>tu</string>
	<key>ㄊㄨㄛ</key>
	<string>tuo</string>
	<key>ㄊㄨㄟ</key>
	<string>tui</string>
	<key>ㄊㄨㄢ</key>
	<string>tuan</string>
	<key>ㄊㄨㄣ</key>
	<string>tun</string>
	<key>ㄊㄨㄥ</key>
	<string>tong</string>
	<key>ㄋㄚ</key>
	<string>na</string>
	<key>ㄋㄜ</key>
	<string>ne</string>
	<key>ㄋㄞ</key>
	<string>nai</string>
	<key>ㄋㄟ</key>
	<string>nei</string>
	<key>ㄋㄠ</key>
	<string>nao</string>
	<key>ㄋㄡ</key>
	<string>nou</string>
	<key>ㄋㄢ</key>
	<string>nan</string>
	<key>ㄋㄣ</key>
	<string>nen</string>
	<key>ㄋㄤ</key>
	<string>nang</string>
	<key>ㄋㄥ</key>
	<string>neng</string>
	<key>ㄋㄧ</key>
	<string>ni</string>
	<key>ㄋㄧㄚ</key>
	<string>nia</string>
	<key>ㄋㄧㄝ</key>
	<string>nie</string>
	<key>ㄋㄧㄠ</key>
	<string>niao</string>
	<key>ㄋㄧㄡ</key>
	<string>niu</string>
	<key>ㄋㄧㄢ</key>
	<string>nian</string>
	<key>ㄋㄧㄣ</key>
	<string>nin</string>
	<key>ㄋㄧㄤ</key>
	<string>niang</string>
	<key>ㄋㄧㄥ</key>
	<string>ning</string>
	<key>ㄋㄨ</key>
	<string>nu</string>
	<key>ㄋㄨㄛ</key>
	<string>nuo</string>
	<key>ㄋㄨㄢ</key>
	<string>nuan</string>
	<key>ㄋㄨㄣ</key>
	<string>nun</string>
	<key>ㄋㄨㄥ</key>
	<string>nong</string>
	<key>ㄋㄩ</key>
	<string>nv</string>
	<key>ㄋㄩㄝ</key>
	<string>nve</string>
	<key>ㄌㄚ</key>
	<string>la</string>
	<key>ㄌㄛ</key>
	<string>lo</string>
	<key>ㄌㄜ</key>
	<string>le</string>
	<key>ㄌㄞ</key>
	<string>lai</string>
	<key>ㄌㄟ</key>
	<string>lei</string>
	<key>ㄌㄠ</key>
	<string>lao</string>
	<key>ㄌㄡ</key>
	<string>lou</string>
	<key>ㄌㄢ</key>
	<string>lan</string>
	<key>ㄌㄤ</key>
	<string>lang</string>
	<key>ㄌㄥ</key>
	<string>leng</string>
	<key>ㄌㄧ</key>
	<string>li</string>
	<key>ㄌㄧㄚ</key>
	<string>lia</string>
	<key>ㄌㄧㄝ</key>
	<string>lie</string>
	<key>ㄌㄧㄠ</key>
	<string>liao</string>
	<key>ㄌㄧㄡ</key>
	<string>liu</string>
	<key>ㄌㄧㄢ</key>
	<string>lian</string>
	<key>ㄌㄧㄣ</key>
	<string>lin</string>
	<key>ㄌㄧㄤ</key>
	<string>liang</string>
	<key>ㄌㄧㄥ</key>
	<string>ling</string>
	<key>ㄌㄨ</key>
	<string>lu</string>
	<key>ㄌㄨㄛ</key>
	<string>luo</string>
	<key>ㄌㄨㄢ</key>
	<string>luan</string>
	<key>ㄌㄨㄣ</key>
	<string>lun</string>
	<key>ㄌㄨㄥ</key>
	<string>long</string>
	<key>ㄌㄩ</key>
	<string>lv</string>
	<key>ㄌㄩㄝ</key>
	<string>lve</string>
	<key>ㄌㄩㄢ</key>
	<string>lvan</string>
	<key>ㄍㄚ</key>
	<string>ga</string>
	<key>ㄍㄜ</key>
	<string>ge</string>
	<key>ㄍㄞ</key>
	<string>gai</string>
	<key>ㄍㄟ</key>
	<string>gei</string>
	<key>ㄍㄠ</key>
	<string>gao</string>
	<key>ㄍㄡ</key>
	<string>gou</string>
	<key>ㄍㄢ</key>
	<string>gan</string>
	<key>ㄍㄣ</key>
	<string>gen</string>
	<key>ㄍㄤ</key>
	<string>gang</string>
	<key>ㄍㄥ</key>
	<string>geng</string>
	<key>ㄍㄨ</key>
	<string>gu</string>
	<key>ㄍㄨㄚ</key>
	<string>gua</string>
	<key>ㄍㄨㄛ</key>
	<string>guo</string>
	<key>ㄍㄨㄞ</key>
	<string>guai</string>
	<key>ㄍㄨㄟ</key>
	<string>gui</string>
	<key>ㄍㄨㄢ</key>
	<string>guan</string>
	<key>ㄍㄨㄣ</key>
	<string>gun</string>
	<key>ㄍㄨㄤ</key>
	<string>guang</string>
	<key>ㄍㄨㄥ</key>
	<string>gong</string>
	<key>ㄎㄚ</key>
	<string>ka</string>
	<key>ㄎㄜ</key>
	<string>ke</string>
	<key>ㄎㄞ</key>
	<string>kai</string>
	<key>ㄎㄠ</key>
	<string>kao</string>
	<key>ㄎㄡ</key>
	<string>kou</string>
	<key>ㄎㄢ</key>
	<string>kan</string>
	<key>ㄎㄣ</key>
	<string>ken</string>
	<key>ㄎㄤ</key>
	<string>kang</string>
	<key>ㄎㄥ</key>
	<string>keng</string>
	<key>ㄎㄨ</key>
	<string>ku</string>
	<key>ㄎㄨㄚ</key>
	<string>kua</string>
	<key>ㄎㄨㄛ</key>
	<string>kuo</string>
	<key>ㄎㄨㄞ</key>
	<string>kuai</string>
	<key>ㄎㄨㄟ</key>
	<string>kui</string>
	<key>ㄎㄨㄢ</key>
	<string>kuan</string>
	<key>ㄎㄨㄣ</key>
	<string>kun</string>
	<key>ㄎㄨㄤ</key>
	<string>kuang</string>
	<key>ㄎㄨㄥ</key>
	<string>kong</string>
	<key>ㄏㄚ</key>
	<string>ha</string>
	<key>ㄏㄜ</key>
	<string>he</string>
	<key>ㄏㄞ</key>
	<string>hai</string>
	<key>ㄏㄟ</key>
	<string>hei</string>
	<key>ㄏㄠ</key>
	<string>hao</string>
	<key>ㄏㄡ</key>
	<string>hou</string>
	<key>ㄏㄢ</key>
	<string>han</string>
	<key>ㄏㄣ</key>
	<string>hen</string>
	<key>ㄏㄤ</key>
	<string>hang</string>
	<key>ㄏㄥ</key>
	<string>heng</string>
	<key>ㄏㄨ</key>
	<string>hu</string>
	<key>ㄏㄨㄚ</key>
	<string>hua</string>
	<key>ㄏㄨㄛ</key>
	<string>huo</string>
	<key>ㄏㄨㄞ</key>
	<string>huai</string>
	<key>ㄏㄨㄟ</key>
	<string>hui</string>
	<key>ㄏㄨㄢ</key>
	<string>huan</string>
	<key>ㄏㄨㄣ</key>
	<string>hun</string>
	<key>ㄏㄨㄤ</key>
	<string>huang</string>
	<key>ㄏㄨㄥ</key>
	<string>hong</string>
	<key>ㄐㄧ</key>
	<string>ji</string>
	<key>ㄐㄧㄚ</key>
	<string>jia</string>
	<key>ㄐㄧㄝ</key>
	<string>jie</string>
	<key>ㄐㄧㄠ</key>
	<string>jiao</string>
	<key>ㄐㄧㄡ</key>
	<string>jiu</string>
	<key>ㄐㄧㄢ</key>
	<string>jian</string>
	<key>ㄐㄧㄣ</key>
	<string>jin</string>
	<key>ㄐㄧㄤ</key>
	<string>jiang</string>
	<key>ㄐㄧㄥ</key>
	<string>jing</string>
	<key>ㄐㄩ</key>
	<string>ju</string>
	<key>ㄐㄩㄝ</key>
	<string>jue</string>
	<key>ㄐㄩㄢ</key>
	<string>juan</string>
	<key>ㄐㄩㄣ</key>
	<string>jun</string>
	<key>ㄐㄩㄥ</key>
	<string>jiong</string>
	<key>ㄑㄧ</key>
	<string>qi</string>
	<key>ㄑㄧㄚ</key>
	<string>qia</string>
	<key>ㄑㄧㄝ</key>
	<string>qie</string>
	<key>ㄑㄧㄠ</key>
	<string>qiao</string>
	<key>ㄑㄧㄡ</key>
	<string>qiu</string>
	<key>ㄑㄧㄢ</key>
	<string>qian</string>
	<key>ㄑㄧㄣ</key>
	<string>qin</string>
	<key>ㄑㄧㄤ</key>
	<string>qiang</string>
	<key>ㄑㄧㄥ</key>
	<string>qing</string>
	<key>ㄑㄩ</key>
	<string>qu</string>
	<key>ㄑㄩㄝ</key>
	<string>que</string>
	<key>ㄑㄩㄢ</key>
	<string>quan</string>
	<key>ㄑㄩㄣ</key>
	<string>qun</string>
	<key>ㄑㄩㄥ</key>
	<string>qiong</string>
	<key>ㄒㄧ</key>
	<string>xi</string>
	<key>ㄒㄧㄚ</key>
	<string>xia</string>
	<key>ㄒㄧㄝ</key>
	<string>xie</string>
	<key>ㄒㄧㄠ</key>
	<string>xiao</string>
	<key>ㄒㄧㄡ</key>
	<string>xiu</string>
	<key>ㄒㄧㄢ</key>
	<string>xian</string>
	<key>ㄒㄧㄣ</key>
	<string>xin</string>
	<key>ㄒㄧㄤ</key>
	<string>xiang</string>
	<key>ㄒㄧㄥ</key>
	<string>xing</string>
	<key>ㄒㄩ</key>
	<string>xu</string>
	<key>ㄒㄩㄝ</key>
	<string>xue</string>
	<key>ㄒㄩㄢ</key>
	<string>xuan</string>
	<key>ㄒㄩㄣ</key>
	<string>xun</string>
	<key>ㄒㄩㄥ</key>
	<string>xiong</string>
	<key>ㄓ</key>
	<string>zhi</string>
	<key>ㄓㄚ</key>
	<string>zha</string>
	<key>ㄓㄜ</key>
	<string>zhe</string>
	<key>ㄓㄞ</key>
	<string>zhai</string>
	<key>ㄓㄟ</key>
	<string>zhei</string>
	<key>ㄓㄠ</key>
	<string>zhao</string>
	<key>ㄓㄡ</key>
	<string>zhou</string>
	<key>ㄓㄢ</key>
	<string>zhan</string>
	<key>ㄓㄣ</key>
	<string>zhen</string>
	<key>ㄓㄤ</key>
	<string>zhang</string>
	<key>ㄓㄥ</key>
	<string>zheng</string>
	<key>ㄓㄨ</key>
	<string>zhu</string>
	<key>ㄓㄨㄚ</key>
	<string>zhua</string>
	<key>ㄓㄨㄛ</key>
	<string>zhuo</string>
	<key>ㄓㄨㄞ</key>
	<string>zhuai</string>
	<key>ㄓㄨㄟ</key>
	<string>zhui</string>
	<key>ㄓㄨㄢ</key>
	<string>zhuan</string>
	<key>ㄓㄨㄣ</key>
	<string>zhun</string>
	<key>ㄓㄨㄤ</key>
	<string>zhuang</string>
	<key>ㄓㄨㄥ</key>
	<string>zhong</string>
	<key>ㄔ</key>
	<string>chi</string>
	<key>ㄔㄚ</key>
	<string>cha</string>
	<key>ㄔㄜ</key>
	<string>che</string>
	<key>ㄔㄞ</key>
	<string>chai</string>
	<key>ㄔㄠ</key>
	<string>chao</string>
	<key>ㄔㄡ</key>
	<string>chou</string>
	<key>ㄔㄢ</key>
	<string>chan</string>
	<key>ㄔㄣ</key>
	<string>chen</string>
	<key>ㄔㄤ</key>
	<string>chang</string>
	<key>ㄔㄥ</key>
	<string>cheng</string>
	<key>ㄔㄨ</key>
	<string>chu</string>
	<key>ㄔㄨㄚ</key>
	<string>chua</string>
	<key>ㄔㄨㄛ</key>
	<string>chuo</string>
	<key>ㄔㄨㄞ</key>
	<string>chuai</string>
	<key>ㄔㄨㄟ</key>
	<string>chui</string>
	<key>ㄔㄨㄢ</key>
	<string>chuan</string>
	<key>ㄔㄨㄣ</key>
	<string>chun</string>
	<key>ㄔㄨㄤ</key>
	<string>chuang</string>
	<key>ㄔㄨㄥ</key>
	<string>chong</string>
	<key>ㄕ</key>
	<string>shi</string>
	<key>ㄕㄚ</key>
	<string>sha</string>
	<key>ㄕㄜ</key>
	<string>she</string>
	<key>ㄕㄞ</key>
	<string>shai</string>
	<key>ㄕㄟ</key>
	<string>shei</string>
	<key>ㄕㄠ</key>
	<string>shao</string>
	<key>ㄕㄡ</key>
	<string>shou</string>
	<key>ㄕㄡㄥ</key>
	<string>shong</string>
	<key>ㄕㄢ</key>
	<string>shan</string>
	<key>ㄕㄣ</key>
	<string>shen</string>
	<key>ㄕㄤ</key>
	<string>shang</string>
	<key>ㄕㄥ</key>
	<string>sheng</string>
	<key>ㄕㄨ</key>
	<string>shu</string>
	<key>ㄕㄨㄚ</key>
	<string>shua</string>
	<key>ㄕㄨㄛ</key>
	<string>shuo</string>
	<key>ㄕㄨㄞ</key>
	<string>shuai</string>
	<key>ㄕㄨㄟ</key>
	<string>shui</string>
	<key>ㄕㄨㄢ</key>
	<string>shuan</string>
	<key>ㄕㄨㄣ</key>
	<string>shun</string>
	<key>ㄕㄨㄤ</key>
	<string>shuang</string>
	<key>ㄖ</key>
	<string>ri</string>
	<key>ㄖㄜ</key>
	<string>re</string>
	<key>ㄖㄠ</key>
	<string>rao</string>
	<key>ㄖㄡ</key>
	<string>rou</string>
	<key>ㄖㄢ</key>
	<string>ran</string>
	<key>ㄖㄣ</key>
	<string>ren</string>
	<key>ㄖㄤ</key>
	<string>rang</string>
	<key>ㄖㄥ</key>
	<string>reng</string>
	<key>ㄖㄨ</key>
	<string>ru</string>
	<key>ㄖㄨㄛ</key>
	<string>ruo</string>
	<key>ㄖㄨㄟ</key>
	<string>rui</string>
	<key>ㄖㄨㄢ</key>
	<string>ruan</string>
	<key>ㄖㄨㄣ</key>
	<string>run</string>
	<key>ㄖㄨㄥ</key>
	<string>rong</string>
	<key>ㄗ</key>
	<string>zi</string>
	<key>ㄗㄚ</key>
	<string>za</string>
	<key>ㄗㄜ</key>
	<string>ze</string>
	<key>ㄗㄞ</key>
	<string>zai</string>
	<key>ㄗㄟ</key>
	<string>zei</string>
	<key>ㄗㄠ</key>
	<string>zao</string>
	<key>ㄗㄡ</key>
	<string>zou</string>
	<key>ㄗㄢ</key>
	<string>zan</string>
	<key>ㄗㄣ</key>
	<string>zen</string>
	<key>ㄗㄤ</key>
	<string>zang</string>
	<key>ㄗㄥ</key>
	<string>zeng</string>
	<key>ㄗㄨ</key>
	<string>zu</string>
	<key>ㄗㄨㄛ</key>
	<string>zuo</string>
	<key>ㄗㄨㄟ</key>
	<string>zui</string>
	<key>ㄗㄨㄢ</key>
	<string>zuan</string>
	<key>ㄗㄨㄣ</key>
	<string>zun</string>
	<key>ㄗㄨㄥ</key>
	<string>zong</string>
	<key>ㄘ</key>
	<string>ci</string>
	<key>ㄘㄚ</key>
	<string>ca</string>
	<key>ㄘㄜ</key>
	<string>ce</string>
	<key>ㄘㄞ</key>
	<string>cai</string>
	<key>ㄘㄠ</key>
	<string>cao</string>
	<key>ㄘㄡ</key>
	<string>cou</string>
	<key>ㄘㄢ</key>
	<string>can</string>
	<key>ㄘㄣ</key>
	<string>cen</string>
	<key>ㄘㄤ</key>
	<string>cang</string>
	<key>ㄘㄥ</key>
	<string>ceng</string>
	<key>ㄘㄨ</key>
	<string>cu</string>
	<key>ㄘㄨㄛ</key>
	<string>cuo</string>
	<key>ㄘㄨㄟ</key>
	<string>cui</string>
	<key>ㄘㄨㄢ</key>
	<string>cuan</string>
	<key>ㄘㄨㄣ</key>
	<string>cun</string>
	<key>ㄘㄨㄥ</key>
	<string>cong</string>
	<key>ㄙ</key>
	<string>si</string>
	<key>ㄙㄚ</key>
	<string>sa</string>
	<key>ㄙㄜ</key>
	<string>se</string>
	<key>ㄙㄞ</key>
	<string>sai</string>
	<key>ㄙㄟ</key>
	<string>sei</string>
	<key>ㄙㄠ</key>
	<string>sao</string>
	<key>ㄙㄡ</key>
	<string>sou</string>
	<key>ㄙㄢ</key>
	<string>san</string>
	<key>ㄙㄣ</key>
	<string>sen</string>
	<key>ㄙㄤ</key>
	<string>sang</string>
	<key>ㄙㄥ</key>
	<string>seng</string>
	<key>ㄙㄨ</key>
	<string>su</string>
	<key>ㄙㄨㄛ</key>
	<string>suo</string>
	<key>ㄙㄨㄟ</key>
	<string>sui</string>
	<key>ㄙㄨㄢ</key>
	<string>suan</string>
	<key>ㄙㄨㄣ</key>
	<string>sun</string>
	<key>ㄙㄨㄥ</key>
	<string>song</string>
	<key>ㄚ</key>
	<string>a</string>
	<key>ㄛ</key>
	<string>o</string>
	<key>ㄜ</key>
	<string>e</string>
	<key>ㄝ</key>
	<string>eh</string>
	<key>ㄞ</key>
	<string>ai</string>
	<key>ㄟ</key>
	<string>ei</string>
	<key>ㄠ</key>
	<string>ao</string>
	<key>ㄡ</key>
	<string>ou</string>
	<key>ㄢ</key>
	<string>an</string>
	<key>ㄣ</key>
	<string>en</string>
	<key>ㄤ</key>
	<string>ang</string>
	<key>ㄥ</key>
	<string>eng</string>
	<key>ㄦ</key>
	<string>er</string>
	<key>ㄧ</key>
	<string>yi</string>
	<key>ㄧㄚ</key>
	<string>ya</string>
	<key>ㄧㄛ</key>
	<string>yo</string>
	<key>ㄧㄝ</key>
	<string>ye</string>
	<key>ㄧㄞ</key>
	<string>yai</string>
	<key>ㄧㄠ</key>
	<string>yao</string>
	<key>ㄧㄡ</key>
	<string>you</string>
	<key>ㄧㄢ</key>
	<string>yan</string>
	<key>ㄧㄣ</key>
	<string>yin</string>
	<key>ㄧㄤ</key>
	<string>yang</string>
	<key>ㄧㄥ</key>
	<string>ying</string>
	<key>ㄨ</key>
	<string>wu</string>
	<key>ㄨㄚ</key>
	<string>wa</string>
	<key>ㄨㄛ</key>
	<string>wo</string>
	<key>ㄨㄞ</key>
	<string>wai</string>
	<key>ㄨㄟ</key>
	<string>wei</string>
	<key>ㄨㄢ</key>
	<string>wan</string>
	<key>ㄨㄣ</key>
	<string>wen</string>
	<key>ㄨㄤ</key>
	<string>wang</string>
	<key>ㄨㄥ</key>
	<string>weng</string>
	<key>ㄩ</key>
	<string>yu</string>
	<key>ㄩㄝ</key>
	<string>yue</string>
	<key>ㄩㄢ</key>
	<string>yuan</string>
	<key>ㄩㄣ</key>
	<string>yun</string>
	<key>ㄩㄥ</key>
	<string>yong</string>
</dict>
</plist>
