<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>UserDictionary</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>UserDictionary</key>
		<dict>
			<key>UserDictionaryEntry</key>
			<data>
			8MkCW2AhIvk3pOJ0varOwbmmb4P8pcQ7vtXoCmuu4zg=
			</data>
		</dict>
	</dict>
</dict>
</plist>
