<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_addToReadingListKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>D</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<true/>
		</dict>
	</dict>
	<key>_closeActiveTabKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>W</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_findKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>F</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_focusAddressFieldKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>L</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_navigateBackKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>9</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_navigateForwardKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>0</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_newTabKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>T</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_nextFindResultKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>G</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_nextTabKeyPressed:</key>
	<dict>
		<key>LocalizableKey</key>
		<string>	</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<false/>
			<key>Control</key>
			<true/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_previousFindResultKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>G</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<true/>
		</dict>
	</dict>
	<key>_previousTabKeyPressed:</key>
	<dict>
		<key>LocalizableKey</key>
		<string>	</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<false/>
			<key>Control</key>
			<true/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<true/>
		</dict>
	</dict>
	<key>_printKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>P</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_reloadKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>R</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_stopLoadingKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>.</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<false/>
		</dict>
	</dict>
	<key>_toggleBookmarksKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>L</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<true/>
		</dict>
	</dict>
	<key>_toggleReaderKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>R</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<true/>
		</dict>
	</dict>
	<key>_toggleTabViewKeyPressed</key>
	<dict>
		<key>LocalizableKey</key>
		<string>È</string>
		<key>LocalizableModifierState</key>
		<dict>
			<key>Command</key>
			<true/>
			<key>Control</key>
			<false/>
			<key>Option</key>
			<false/>
			<key>Shift</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
