@charset "EUC-JP";
/* this @charset is for mozilla's bug */

/*/////////////////////////////////////////////////////////////////////////////////////////////////
   Kigoulab CSS for JKN4 Ver.6.00
   created :2003/07/30
   Os: ALL
   Ua: ALL
   base.css
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*タグ再定義スタイル*/

body{
	color: #000000;
	background-color: white;
	margin: 0px;
	padding:0px;
}

a:link { text-decoration:none;  color:#6633FF}
a:visited { text-decoration:none; color:#6633FF;}
a:hover { color: #CC0033; text-decoration: underline; }
a:active { color: #CC0033; text-decoration: underline; }

/*hrの再定義はWinIEでマージンが0にならないため調整中*/
/*下は、divタグによる擬似HR こちらを採用か？*/

hr {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 1px 0 0;
	border-color: #666666;
	border-style: solid;
	width: 100%;
	height: 0px;
}

div.hr {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px #999999 solid;
	width: 100%;
	height: 1px;
}

em {
	font-style:normal;
	color: #CC0033;
}


// b { color: #333333; }
p { margin-top: 1.5em; }


/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*汎用文字サイズ＋行送りクラス*/

.kS { font-size: 10px; line-height:130% }
.kM  { font-size: 12px; line-height:130% }
.kL  { font-size: 14px; line-height:130% }
.kLL  { font-size: 16px; line-height:130% }
.kXL  { font-size: 18px; line-height:130% }

.kSw { font-size: 10px; line-height:150% }
.kMw  { font-size: 12px; line-height:150% }
.kLw  { font-size: 14px; line-height:150% }
.kLLw  { font-size: 16px; line-height:150% }
.kXLw  { font-size: 18px; line-height:150% }

.kSn { font-size: 10px; line-height:110% }
.kMn  { font-size: 12px; line-height:110% }
.kLn  { font-size: 14px; line-height:110% }
.kLLn  { font-size: 16px; line-height:110% }
.kXLn  { font-size: 18px; line-height:110% }

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*共通カスタムクラス*/
/*メインウインドウ*/

.maincolor { background-color: #800000; } /*マロンレッド*/
.subcolor1 { background-color: #EEE8AA; } /*レモンオレンジ*/
.subcolor2 { background-color: #E6E6DC; } /*ベージュグレー*/
.subcolor3 { background-color: #F5F5F5; } /*ホワイトスモーク*/
.subcolor4 { background-color: #F5F5DC; } /*ベージュ*/
.projectcolor {background-color: #022382;}

.tabcolor1 {background-color:#EDE7AA; }
.tabcolor2 {background-color:#CCCCFF; }
.tabcolor3 {background-color:#BFBF73; }
.tabcolor4 {background-color:#E8CA69; }
.tabcolor5 {background-color:#AAC3B2; }
.tabcolor6 {background-color:#E8CBA7; }

#m1 { background-color:#EDE7AA; border-bottom: 1px solid #EEE8AA;font-weight:bold;letter-spacing:0; }
#m2 { background-color:#CCCCFF; border-bottom: 1px solid #CCCCFF;font-weight:bold;letter-spacing:0; }
#m3 { background-color:#BFBF73; border-bottom: 1px solid #BFBF73;font-weight:bold;letter-spacing:0; }
#m4 { background-color:#E8CA69; border-bottom: 1px solid #E8CA69;font-weight:bold;letter-spacing:0; }
#m5 { background-color:#AAC3B2; border-bottom: 1px solid #AAC3B2;font-weight:bold;letter-spacing:0; }
#m6 { background-color:#E8CBA7; border-bottom: 1px solid #E8CBA7;font-weight:bold;letter-spacing:0; }

.gmenu {
	text-align:center;
	color:#000000;
	letter-spacing:0.1em;
	font-weight:normal;	
	margin:0px 2px 0px 0px;
	padding: 6px 10px 3px 10px;
	background-color:#F5F5F5;
	border: 1px solid #666666;
	cursor: hand;	
}

.gmenu a:link { text-decoration:none;  color:#000000;}
.gmenu a:visited { text-decoration:none; color:#000000;}
.gmenu a:hover { color: #CC0033; text-decoration: none; }
.gmenu a:active { color: #CC0033; text-decoration: none; }

.gmenu div:hover { background-color: #EEE8AA; }

input.onelook { border: 2px solid #800000; }

div.theme_top {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	margin:0px;
	padding: 23px 15px 23px 15px;
	border-bottom:1px #666666 solid;	
}

div.theme {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	margin:0px;
	padding: 23px 15px 0px 15px;
}

div.pankuzu {
	font-size: 12px;
	margin:0px;
	padding: 5px 15px;
	border-bottom:1px #666666 solid;
	text-align: right;
}

div.localnavi {
	font-size: 12px;
	margin:0px;
	padding: 10px 6px 4px 6px;
	border-bottom:1px #666666 solid;
}

div.choice{ padding-bottom:3px; }
div.result{ padding-bottom:1em; }

div.onelookbox {
	color: #FFFFFF;
	font-weight:bold;
	background-color: #800000;
	margin: 0px;
	padding: 6px 15px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;	
}

div.themabox {
	color: #FFFFFF;
	font-weight:bold;
	font-size:12px;
	margin: 0px;
	padding: 10px 15px;
	border-bottom: 1px solid #666666;
}

div.boxmenu {
	font-size:12px;
	background-color:#ECECEC;
	padding:10px 15px;
	margin:0px;
	border-bottom: 1px solid #666666;
	cursor: hand;

}

div.subbox {
	background-color:#FFFFFF;
	margin:0px;
	padding:0px 15px 10px 30px;	
	border-bottom: 1px solid #666666;
	display: none;
}

div.subboxmenu {
	font-size:12px;
	padding-top:10px;
	margin:0px;
	color:#666666;
}

/*本文ウインドウ*/

.subutility {
	font-size:12px;
	color:#FFFFFF;
	padding-right:10px;
}

.subutility a:link { text-decoration:none;  color:#FFFFFF;}
.subutility a:visited { text-decoration:none; color:#FFFFFF;}
.subutility a:active { color: #FFFF00; text-decoration: underline; }
.subutility a:hover { color: #FFFF00; text-decoration: underline; }

.contents { padding-top:5px;padding-left:2px;color:#A00000;font-weight:bold; }
.koumoku { margin:15px 0px 0px 0px; }
.sub_koumoku { padding-top:5px;padding-left:5px; letter-spacing:0.1ex;}

.sub_kL  { font-size: 14px; line-height:130%; letter-spacing:0.1ex; }

.title1m{
	font-family: "ヒラギノ明朝 Pro W3","ＭＳ Ｐ明朝","平成明朝";
	font-size: 28px;
	font-weight:bold
}

.title1g{
	font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴシック Pro W3";
	font-size: 28px;
}

.title1e {
	font-family:"Times New Roman";
	font-weight:bold;
	font-size: 28px;
	}


.title2{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	margin-top: 2em;
	margin-bottom: 0em;
	padding-bottom: 2px;
	border-bottom:1px #666666 solid;
	width: 100%;
}

.title3{
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	margin-top: 2em;
	margin-bottom: 0em;
}

.honmon {
	font-size: 14px;
	line-height: 160%;
}

.shonmon {
	font-size: 12px;
	line-height: 150%;
}

.list1 {
	font-weight: bold;
}
.list2 {
	color: #666666;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-type: square;
}
.list3 {
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-type: circle;
}


.listA {
	color: #333333;
	font-weight: bold;
	margin-left: 1.5em;
	text-indent:-1.4em;
	margin-bottom: 0.3em;
}

.listB {
	color: #999999;
	margin-left: 2.7em;
	text-indent:-1.4em;
	margin-bottom: 0.3em;
}

.listC {
	color: #333333;
	margin-left: 4em;
	text-indent:-1.4em;
	margin-bottom: 0.3em;
}

.listD {
	color: #999999;
	margin-left: 1.5em;
	text-indent:-1.4em;
	margin-bottom: 0.3em;
}

.copyright_e { font-family: Arial; }


/*END*/

span.em1 { color:#CC0033; }

