<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>GameCenterUI</string>
	<key>BuildVersion</key>
	<string>40</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>194.15</string>
	<key>ProjectName</key>
	<string>GameCenterUI_Sim</string>
	<key>SourceVersion</key>
	<string>194015000000000</string>
</dict>
</plist>
