@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

body { 
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
//	font-size:100%;
//	margin-left: 0em;
	line-height:1.33em;
	margin-right: 1em;
	margin-top: 0.4em;
	margin-bottom: 10px;
}

a	{
	color:#2971A7;
	text-decoration:none;
}

a:hover	{
	color:#2971A7;
	text-decoration:underline;
}

table {
	table-layout: fixed;
	width:90%;
	margin-top: 1em;
	margin-left: 14px;	/*if indent 30px*/
	border-style: solid;
	border-width: 1px;
	font-family:'HelveticaNeue';
}

caption {
	font-size: 80%;
	margin-bottom: 0.5em;
	text-align: left;
	text-transform: uppercase;
}

tr {
	font-size: 80%;
	width:30%;
}

td {
}

*.spej_entry, *.spje_entry {
//	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:100%;
	display: block;
	margin: 0em 0em 0em 0em; 
	margin-left: 0px; 
	margin-bottom: 1.0em;
}

/***************************************
	elements in head line
****************************************/
*.spej_entry span.headword {
//	font-family: 'Baskerville';
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:150%;
	margin-bottom: 0.2em;
}

span.別見 {
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:150%;
}

span.別見The {
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:150%;
}

span.発音 {
//	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:100%;
	margin-left: 0.5em;
}

*.spje_entry span.headword {
//	font-family: 'Hiragino Mincho ProN';
	font-weight:bold;
	font-size:150%;
	margin-bottom: 0.2em;
}

span.表記 {
//	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:120%;
	vertical-align:10%;
}


/***************************************
	elements in body line
****************************************/
span.meaning[type="first"] {
	display: block;
	margin-left: 0em;
	font-size:100%;
}

/*span.subheadword + */
span.meaning, span.meaning[level="4"] {
	display: block;
	margin-left: 1.5em;
	font-size:94%;
}

*.spej_entry span.meaning[level="0"] {
	margin-left: 0em; 
	margin-top: 0.5em;
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:120%;
}

*.spej_entry span.meaning[level="1"] {
	margin-left: 0em; 
	margin-top: 0.5em;
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:120%;
}

*.spej_entry span.meaning[level="2"] {
	margin-left: 0.2em; 
	margin-top: 0.5em;
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:120%;
}

*.spje_entry span.meaning[level="1"] {
	margin-left: 0em; 
	margin-top: 0.5em;
//	font-family: 'Hiragino Mincho ProN';
	font-size:100%;
}

*.spje_entry span.meaning[level="2"] {
	margin-left: 0.2em; 
	margin-top: 0.5em;
//	font-family: 'Hiragino Mincho ProN';
	font-size:100%;
}

span.meaning[level="3"] {
	margin-left: 0.5em; 
	margin-top: 0.5em;
	font-size:100%;
}

span.meaning[type="コラム分類"] {
	display: block;
	margin-top: 0.5em;
	margin-left: 0em;
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:100%;
}

span.meaning[type="活用"],span.meaning[type="語源"],span.meaning[type="語法"],span.meaning[type="注記"],span.meaning[type="類語"] {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.6em;
	margin-left: 1.5em;
	margin-right: 1em;
	font-size:80%;
}

span.meaning[type="別品詞"] {
	display: block;
	margin-top: 0.7em;
	margin-left: 0em;
	text-indent: -0.5em;
	font-size:100%;
}

*.spej_entry span.subheadword {
//	display: block;
	display: inline;
	font-family: 'Baskerville';
	font-style:italic;
	font-weight:bold;
	font-size:120%;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

*.spej_entry span.subheadword[type="成句追"] {
	display: block;
	font-family: 'Baskerville';
	font-style:italic;
	font-weight:bold;
	font-size:100%;
	margin-top: 0em;
	margin-left: 0.5em;
}

*.spej_entry span.meaning[type="成句別品詞"] {
	display: run-in;
	margin-left: 0em;
	font-size:80%;
}

*.spje_entry span.subheadword {
	display: block;
//	font-family: 'Hiragino Mincho ProN';
	margin-top: 0.5em;
	margin-left: 0.5em;
}

span.example[type="慣用"] {
	display: block;
	margin-top: 0.5em;
	margin-left: 0em;
	font-size:100%;
}
span.example {
	display: block;
	margin-left: 2em;
	font-size:80%;
}

span.etc {
	display: block;
}

span.mlg {
	font-size:75%;
	vertical-align:-9%;
}

span.hinshi {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-weight:normal;
	font-size:90%;
	vertical-align:5%;
}

span.gokei {
	font-family: 'Baskerville';
	font-weight:bold;
}

span.hatsuon {
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size:90%;
}

span.abbr {
	font-size:90%;
}

span.column {
	display: block;
	border: solid 2px #c0c0c0;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

span.label {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-weight:bold;
	font-size:80%;
	color: #ffffff;
	Background: #606060;
	vertical-align:8%;
	border: solid #606060;
	border-width:2px 4px 2px 4px;
	margin-right: 0.5em;
}

div.grouplabel {
	margin-top: 1.0em;
}

span.grouplabel {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-weight:bold;
	color: #ffffff;
	Background: #606060;
	vertical-align:8%;
	border: solid #606060;
	border-width:2px 4px 2px 4px;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

span.slabel {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:80%;
	vertical-align:5%;
}

span.note {
	font-size:70%;
	vertical-align:5%;
}

span.encl {
	border: solid 2px #c0c0c0;
	margin-left: 0.18em;
	margin-right: 0.18em;
	margin-top: 0.18em;
	margin-bottom: 0.18em;
	color: #000000;
}

span.sn {
	font-weight:bold;
}

span.sc {
	font-variant: small-caps;
}

span[class="・"]:before	{
	content:'•'; 
	font-family: 'Baskerville';font-weight:normal;
	font-size:80%;
//	vertical-align:-9%;
}

/*
span.njk:before {
	content:'╳';
	font-size:50%;
	vertical-align:80%;
}

span.njo:before {
	content:'▽';
	font-size:50%;
	vertical-align:80%;
}

span.jjk:before {
	content:'=';
	font-size:50%;
	vertical-align:80%;
}

span.fjjk:before {
	content:'-';
	font-size:50%;
	vertical-align:80%;
}
*/

unknownentity:before, unknowngaiji:before {
	content:'〓';
}

b {
	font-weight:bold;
}

sup {
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	font-size: 50%;
}

img {
	float: right;
	max-width: 50%;
	padding:1em 0em 0.5em 1.5em;
	background-color: white;
}

span.shogakukan_gaiji {
	font-family: 'ShogakukanDictionaries';
	font-weight:normal;
	font-style:normal;
}
