<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EntityDescriptionURL</key>
	<string>/usr/share/mecabra/common/descriptions/LearningDictionary.momd</string>
	<key>EntityModelName</key>
	<string>LearningDictionaryEntry</string>
	<key>EntityRequiredKeys</key>
	<array>
		<string>reading</string>
		<string>surface</string>
	</array>
	<key>EntityUniquingKeys</key>
	<array>
		<string>reading</string>
		<string>surface</string>
	</array>
	<key>UbiquitousCoreDataStoreURL</key>
	<string>$ICLOUD/Dictionaries/Storage.nosync/</string>
	<key>UbiquitousCoreDataTransactionURL</key>
	<string>$ICLOUD/Dictionaries/</string>
	<key>DatabaseSyncs</key>
	<true/>
	<key>VersionNumber</key>
	<integer>1</integer>
	<key>SortDescriptors</key>
	<array>
		<dict>
			<key>SortDescriptorName</key>
			<string>reading</string>
			<key>SortDescriptorAscending</key>
			<true/>
		</dict>
		<dict>
			<key>SortDescriptorName</key>
			<string>surface</string>
			<key>SortDescriptorAscending</key>
			<true/>
		</dict>
		<dict>
			<key>SortDescriptorName</key>
			<string>extraString1</string>
			<key>SortDescriptorAscending</key>
			<false/>
		</dict>
		<dict>
			<key>SortDescriptorName</key>
			<string>seed</string>
			<key>SortDescriptorAscending</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
