@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

body {
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	/*
	font-size: 100%;
	*/
	-webkit-writing-mode: vertical-rl;
	vertical-align:baseline;
}

html {
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 0.4em;
	margin-right: 10px;
}

html.apple_display-separateview {
	-webkit-column-width: 25em;
	-webkit-column-rule-color: LightGrey;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-width: 1px;
}

a	{
	color:#2971A7;
	text-decoration:none;
}

a:hover	{
	color:#2971A7;
	text-decoration:underline;
}

table {
	table-layout: fixed;
	width:90%;
	margin-left: 1em;
	margin-top: 14px;	/*if indent 30px*/
	border-style: solid;
	border-width: 1px;
	font-family:'HelveticaNeue';
}

caption {
	font-size: 80%;
	margin-bottom: 0em;
	margin-right: 0.5em;
	text-align: left;
	text-transform: uppercase;
}

tr {
	font-size: 80%;
	width:30%;
}

td {
}

table.jodou-katsuyou {
	display: inline-table;
	table-layout: fixed;
	width:auto;
	height:50%;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid none;
	font-size: 80%;
	font-family:'Hiragino Kaku Gothic ProN';
	vertical-align:baseline;
	margin-left: 0em;
	margin-top: 14px;	/*if indent 30px*/
}

table.jodou-katsuyou tr {
	border-width: 1px;
	border-style: solid none;
	border-color: #808080;
	height:1.5em;
}

table.jodou-katsuyou td {
	text-align: center;
	border-width: 1px;
	border-style: solid none;
	border-color: #808080;
}

span.no-katsuyou:before {
	content:'○';
	font-size:40%;
	vertical-align:baseline;
	color:#808080;
}


*.entry {
	/*
	font-family: 'Hiragino Mincho ProN';
	*/
	font-weight:normal;
	font-size: 100%;
	display: block;
	margin: 0em 0em 0em 0em; 
	margin-top: 0px; 
	margin-right: 1.0em;
}

span.headword {
	font-weight:bold;
	font-size:150%;
	margin-bottom: 0em;
	margin-right: 0.2em;
}

span.hyouki {
	font-weight:normal;
	font-size:120%;
	vertical-align:baseline;
}

span[type="原綴"] {
	font-family: 'Baskerville';
	font-weight:normal;
	font-size:120%;
}

span.hyouki[type="原綴"] {
	font-family: 'Baskerville';
	font-weight:normal;
	font-size:120%;
	vertical-align:baseline;
}

span.rekishi {
	font-weight:bold;
	font-size:100%;
	color: #808080;
	vertical-align:baseline;
}

span.meaning {
	display: block;
	margin-left: 0em;
	margin-bottom: 0em;
	margin-top: 0em;
	margin-right: 0.5em;
	padding-right: 0.5em;
	text-align: justify;
}

span.meaning[type="head"] {
	display: block;
	margin-left: 0em;
	margin-top: 0em;
}

span.meaning[type="sub"] {
	display: block;
	margin-left: 0em;
	margin-bottom: 0em;
	margin-top: 2em;
}

span.meaning[type="subbullet"] {
	display: block;
	margin-left: 0em;
	margin-top: 3em;
	text-indent: -1em;
	margin-right: 0em;
}

span.meaning[type="補説"],span.meaning[type="類語例解"],span.meaning[type="用法"],span.meaning[type="派生"],span.meaning[type="可能"],span.meaning[type="類語"],span.meaning[type="下接句"],span.meaning[type="下接語"] {
	display: block;
	margin-left: 1em;
	margin-right: 0.6em;
	margin-top: 4.5em;
	margin-bottom: 0.5em;
	text-indent: -4em;
	font-size:80%;
}

span.meaning table.meaningtbl {
	margin-left: 0px;
	margin-top: 0px;
	text-indent: 0em;
}


span.example {
	display: block;
	margin-left: 0em;
	margin-top: 2em;
	font-size:80%;
}

span.hinshi {
	font-weight:bold;
	margin-right: 0em;
	margin-bottom: 1em;
}

span.sn {
	display: block;
	font-size:90%;
	margin-top:0.5em;
	margin-right: 1em;
	margin-left: -2.7em;
	font-weight:bold;
	top: 0em;
	left: -0.2em;
	text-align: left;
	width:1em;
	-webkit-text-combine: horizontal;
}

span.hatsuon {
	font-weight:bold;
	font-size:100%;
}

span.source {
	font-weight:bold;
	font-size:80%;
}

span.note {
	font-size:80%;
}

rt, span.mlg {
	font-size:75%;
	vertical-align:baseline;
}

span.hinshi span.mlg {
	font-size:75%;
	vertical-align:baseline;
	position:relative;
	right:0.5em;
}

seibotsu span.mlg {
	font-size:80%;
	vertical-align:baseline;
}

span.label {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-weight:bold;
	font-size:50%;
	color: #ffffff;
	Background: #606060;
	vertical-align:baseline;
	border: solid #606060;
	border-width:2px 4px 2px 4px;
}

span.largelabel {
}

/*
span.njk:before {
	content:'╳';
	font-size:50%;
	vertical-align:80%;
}

span.njo:before {
	content:'▽';
	font-size:50%;
	vertical-align:80%;
}

span.jjk:before {
	content:'=';
	font-size:50%;
	vertical-align:80%;
}

span.fjjk:before {
	content:'-';
	font-size:50%;
	vertical-align:80%;
}
*/

span.accent {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-weight:bold;
}

span.hsb {
	font-family: 'Hiragino Mincho ProN';
	content:'・';
}

unknownentity:before, unknowngaiji:before {
	content:'〓';
}

b {
	font-weight:bold;
}

span.shogakukan_gaiji {
	font-family: 'ShogakukanDictionaries';
	font-weight:normal;
	font-style:normal;
	-webkit-text-combine: horizontal;
}

span.shogakukan_gaiji_roman {
	font-family: 'ShogakukanDictionaries';
	font-weight:normal;
	font-style:normal;
}

span.yosuji {
	display: none;
}

span.kansuji {
	display: inline;
}

span[type="原綴"] span.yosuji {
	display: inline;
}

span[type="原綴"] span.kansuji {
	display: none;
}

span.greek {
	font-family: 'Times-Roman';
}

i {
	font-family: 'Times-Italic';
}

span.single_roman {
	-webkit-text-combine: horizontal;
}

