<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kWeightLimitCoefficient</key>
	<real>1.04</real>
	<key>kNgramCandidateCost</key>
	<integer>1050</integer>
	<key>kPartialCandidatePenalty</key>
	<integer>300</integer>
	<key>kCostPenaltyForWordSuffixCompletion</key>
	<integer>1000</integer>
	<key>kCostThresholdForAmbiguousPos</key>
	<integer>1000</integer>
	<key>kCostThresholdForPartialCandidates</key>
	<integer>2800</integer>
	<key>kCostThresholdForSinglePhraseCandidates</key>
	<integer>6400</integer>
	<key>kCostThresholdForMultiPhraseCandidates</key>
	<integer>1400</integer>
	<key>kMaxNumSingleWordExactMatchCandidates</key>
	<integer>1000</integer>
	<key>kMaxNumSingleWordPrefixMatchCandidates</key>
	<integer>8</integer>
	<key>kMaxNumSingleWordSuffixCompletionCandidates</key>
	<integer>3</integer>
	<key>kMaxNumMultiwordCandidates</key>
	<integer>6</integer>
	<key>kMaxNumMultiwordCandidateRequests</key>
	<integer>54</integer>
	<key>kMaxNumPartialCandidates</key>
	<integer>10</integer>
	<key>kMaxNumSinglePhrasePartialCandidates</key>
	<integer>5</integer>
	<key>kSingleWordPrefixSearchContextOrder</key>
	<integer>2</integer>
	<key>kLongLearnedPhraseRemoveLength</key>
	<integer>8</integer>
	<key>kMaxNumPhrasePrefixMatchCandidates</key>
	<integer>3</integer>
	<key>kMaxNumPhraseBigramPrefixMatchCandidates</key>
	<integer>8</integer>
	<key>kMaxNumPhraseBigramCandidates</key>
	<integer>16</integer>
	<key>kMaxNumBigramLearnedCandidates</key>
	<integer>4</integer>
	<key>kMaxNumLearnedNgramCandidates</key>
	<integer>2</integer>
	<key>kPhraseBigramContextOrder</key>
	<integer>4</integer>
	<key>kPhrasePrefixSearchContextOrder</key>
	<integer>4</integer>
	<key>kPhrasePrefixSearchMaxSearchKeyLength</key>
	<integer>16</integer>
	<key>kPhrasePrefixSearchMaxReadingLength</key>
	<integer>6</integer>
	<key>kLearnedPhraseBigramMinPrefixSearchKeyLength</key>
	<integer>3</integer>
	<key>kLearnedPhraseBigramMaxPrefixSearchKeyLength</key>
	<integer>10</integer>
	<key>kMaxHomophoneLearnedCandidateCount</key>
	<integer>3</integer>
	<key>kRomajiCapitalizedCandidateRank</key>
	<integer>1</integer>
	<key>kRomajiUpperCaseCandidateRank</key>
	<integer>2</integer>
	<key>kRomajiAsIsCandidateRank</key>
	<integer>-1</integer>
	<key>kKatakanaAsIsCandidateRank</key>
	<integer>5</integer>
	<key>kHiraganaAsIsCandidateRank</key>
	<integer>-1</integer>
	<key>kProperNounDefaultCost</key>
	<integer>10000</integer>
	<key>kPhrasePrefixCostFactor</key>
	<integer>1000</integer>
	<key>kPhrasePrefixBaseCost</key>
	<integer>700</integer>
	<key>kPhrasePrefixLengthPenalty</key>
	<integer>1400</integer>
	<key>kPhrasePredictionBaseCost</key>
	<integer>-1500</integer>
	<key>kPhrasePredictionCostFactor</key>
	<integer>1600</integer>
	<key>kPhrasePredictionLengthPenalty</key>
	<integer>500</integer>
	<key>kPhraseLearningBaseCost</key>
	<integer>1000</integer>
	<key>kPhraseLearningLengthPenalty</key>
	<integer>1000</integer>
	<key>kBigramLearningBaseCost</key>
	<integer>-2000</integer>
	<key>kBigramLearningPrefixBaseCost</key>
	<integer>-900</integer>
	<key>kUserDictionaryCandidateBaseCost</key>
	<integer>7000</integer>
	<key>kAverageLikelihood</key>
	<real>-1.5</real>
	<key>kPrefixMatchCandidateBasePenalty</key>
	<integer>2000</integer>
	<key>kPrefixMatchCandidateLengthPenalty</key>
	<integer>1000</integer>
	<key>kKanaAmbiguousTokenPenalty</key>
	<integer>5000</integer>
	<key>kPhraseEntryNotUsedInConversionCostLimit</key>
	<integer>32000</integer>
</dict>
</plist>
