.StatusBarTime:before	{ content: "PREVIEW_STATUS_BAR_TIME";}
.FaceTime:before 		{ content: "PREVIEW_SPRINGBOARD_FACETIME";}
.DayOfWeek:before 		{ content: "PREVIEW_SPRINGBOARD_DAY_OF_WEEK";}
.Calendar:before 		{ content: "PREVIEW_SPRINGBOARD_CALENDAR";}
.Photos:before 			{ content: "PREVIEW_SPRINGBOARD_PHOTOS";}
.Camera:before 			{ content: "PREVIEW_SPRINGBOARD_CAMERA";}
.Contacts:before 		{ content: "PREVIEW_SPRINGBOARD_CONTACTS";}
.Clock:before 			{ content: "PREVIEW_SPRINGBOARD_CLOCK";}
.Maps:before 			{ content: "PREVIEW_SPRINGBOARD_MAPS";}
.Videos:before 			{ content: "PREVIEW_SPRINGBOARD_VIDEOS";}
.Home:before			{ content: "PREVIEW_SPRINGBOARD_HOME";}
.Notes:before 			{ content: "PREVIEW_SPRINGBOARD_NOTES";}
.Reminders:before 		{ content: "PREVIEW_SPRINGBOARD_REMINDERS";}
.News:before            { content: "PREVIEW_SPRINGBOARD_NEWS";}
.iTunesStore:before 	{ content: "PREVIEW_SPRINGBOARD_ITUNES_STORE";}
.AppStore:before 		{ content: "PREVIEW_SPRINGBOARD_APPSTORE";}
.iBooks:before			{ content: "PREVIEW_SPRINGBOARD_IBOOKS";}
.Settings:before 		{ content: "PREVIEW_SPRINGBOARD_SETTINGS";}
.Messages:before 		{ content: "PREVIEW_SPRINGBOARD_MESSAGES";}
.Safari:before 			{ content: "PREVIEW_SPRINGBOARD_SAFARI";}
.Mail:before 			{ content: "PREVIEW_SPRINGBOARD_MAIL";}
.Music:before 			{ content: "PREVIEW_SPRINGBOARD_MUSIC";}