html { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

BODY {
	margin: 0px 0px;
	font-family: -apple-system-font, sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: 300;
	background: #FFF;
}

#springboard-large {
	width: 2048px;
	height: 2732px;
	background: #FFF url(Magnify-SpringBoard-1024-XL~ipad.jpg) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.FaceTime,
.DayOfWeek,
.Calendar,
.Photos,
.Camera,
.Contacts,
.Clock,
.Maps,
.Videos,
.Home,
.Notes,
.Reminders,
.News,
.iTunesStore,
.AppStore,
.iBooks,
.Settings,
.Messages,
.Safari,
.Mail,
.Music {
	position:absolute;
	text-align: center;
	width: 180px;
}

.StatusBarTime {
	top: 6px;
	left: 924px;
	width: 200px;
	text-align: center;
	font-family: -apple-system-font, sans-serif;
	font-size: 24px;
	font-weight: 600;
}

/* Column 1 */

.FaceTime					{ left: 198px; top: 363px; }
.Contacts					{ left: 198px; top: 808px; }
.Videos						{ left: 198px; top: 1251px; }
.iTunesStore				{ left: 198px; top: 1695px; }
.Messages					{ left: 198px; top: 2663px; }

/* Column 2 */

.Calendar					{ left: 690px; top: 363px; }
.DayOfWeek					{ left: 690px; top: 198px; color: #F7281C; font-size: 25px; }
.Clock						{ left: 690px; top: 808px; }
.Notes						{ left: 690px; top: 1251px; }
.AppStore					{ left: 690px; top: 1695px; }
.Safari						{ left: 690px; top: 2663px; }

/* Column 3 */

.Photos						{ left: 1180px; top: 363px; }
.Maps						{ left: 1180px; top: 808px; }
.Reminders					{ left: 1180px; top: 1251px; }
.iBooks						{ left: 1180px; top: 1695px; }
.Mail						{ left: 1180px; top: 2663px; }

/* Column 4 */

.Camera						{ left: 1670px; top: 363px; }
.Home						{ left: 1670px; top: 808px; }
.News						{ left: 1670px; top: 1251px; }
.Settings					{ left: 1670px; top: 1695px; }
.Music						{ left: 1670px; top: 2663px; }


