html { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

BODY {
	margin: 0px 0px;
	font-family: -apple-system-font, sans-serif;
	font-size: 26px;
	color: #fff;
	font-weight: 300;
	background: #FFF;
}

#springboard-medium {
	width: 1536px;
	height: 2048px;
	background: #fff url(Magnify-SpringBoard-768-XL~ipad.jpg) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.FaceTime,
.DayOfWeek,
.Calendar,
.Photos,
.Camera,
.Contacts,
.Clock,
.Maps,
.Videos,
.Home,
.Notes,
.Reminders,
.News,
.iTunesStore,
.AppStore,
.iBooks,
.Settings,
.Messages,
.Safari,
.Mail,
.Music {
	position:absolute;
	text-align: center;
	width: 180px;
}

.StatusBarTime {
	top: 6px;
	left: 668px;
	width: 200px;
	text-align: center;
	font-family: -apple-system-font, sans-serif;
	font-size: 24px;
	font-weight: 600;
}

/* Column 1 */

.FaceTime					{ left: 148px; top: 342px; }
.Contacts					{ left: 148px; top: 664px; }
.Videos						{ left: 148px; top: 987px; }
.iTunesStore				{ left: 148px; top: 1309px; }
.Messages					{ left: 148px; top: 2006px; }

/* Column 2 */

.Calendar					{ left: 502px; top: 342px; }
.DayOfWeek					{ left: 502px; top: 192px; color: #F7281C; font-size: 24px; }
.Clock						{ left: 502px; top: 664px; }
.Notes						{ left: 502px; top: 987px; }
.AppStore					{ left: 502px; top: 1309px; }
.Safari						{ left: 502px; top: 2006px; }

/* Column 3 */

.Photos						{ left: 853px; top: 342px; }
.Maps						{ left: 853px; top: 664px; }
.Reminders					{ left: 853px; top: 987px; }
.iBooks						{ left: 853px; top: 1309px; }
.Mail						{ left: 853px; top: 2006px; }

/* Column 4 */

.Camera						{ left: 1206px; top: 342px; }
.Home						{ left: 1206px; top: 664px; }
.News						{ left: 1206px; top: 987px; }
.Settings					{ left: 1206px; top: 1309px; }
.Music						{ left: 1206px; top: 2006px; }