BODY {
	font: 28px "Helvetica Neue Interface", sans-serif;
}

#springboard {
	background: #FFF url(Magnify-SpringBoard-Small~iphone.png) top left no-repeat;
}

.StatusBarTime,
.DayOfWeek,
.Messages,
.Calendar,
.Photos,
.Camera,
.Weather,
.Clock,
.Maps,
.Videos,
.Notes,
.Reminders,
.Stocks,
.Passbook,
.Newsstand,
.iTunesStore,
.AppStore,
.iBooks,
.Health,
.Passbook,
.Settings,
.Phone,
.Mail,
.Safari,
.Music {
	position:absolute;
	text-align: center;
	width: 180px;
}

.StatusBarTime {
	top: 5px;
	left: 275px;
	width: 200px;
	text-align: center;
	font: "Helvetica Neue Interface", Times, sans-serif;
	font-size: 29px;
	font-weight: 500;
}

.DayOfWeek {
    top: 74px;
    color: #F7281C;
    font-size: 18px;
}

.Messages,
.Calendar,
.Photos,
.Camera {
	top: 208px;
}

.Weather,
.Clock,
.Maps,
.Videos {
	top: 414px;
}

.Notes,
.Reminders,
.Stocks,
.Passbook {
	top: 620px;
}

.iBooks,
.iTunesStore,
.AppStore,
.Newsstand {
	top: 826px;
}

.Health,
.Settings {
	top: 1032px;
}

.Phone,
.Mail,
.Safari,
.Music {
	font-size: 24px;
	top: 1299px;
}

.Messages,
.Weather,
.Notes,
.iBooks,
.Health,
.Phone {
	left:15px;
}

.DayOfWeek,
.Calendar,
.Clock,
.Reminders,
.iTunesStore,
.Settings,
.Safari {
	left:194px;
}

.Photos,
.Maps,
.Stocks,
.AppStore,
.Mail {
	left:377px;
}

.Camera,
.Videos,
.Passbook,
.Newsstand,
.Music {
	left:550px;
}

.Phone {
	left:17px;
}

.Safari {
	left:197px;
}

.Mail {
	left:372px;
}

.Music {
	left:546px;
}
