BODY {
	font: 28px "Helvetica Neue Interface", sans-serif;
}

#mail {
	width: 750px;
	height: 1334px;
	background: #FFF url(Magnify-Mail-Small~iphone.png) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.NavBack,
.NavEmailCount,
.FromName,
.ToString,
.Subject,
.Date,
.BodyText {
	position:absolute;
	text-align: center;
	font-size: 40px;
}

.StatusBarTime {
	top: 5px;
	left: 275px;
	width: 200px;
	text-align: center;
	font: "Helvetica Neue Interface", Times, sans-serif;
	font-size: 29px;
	font-weight: 500;
}

.NavBack {
	top: 75px;
	left: 64px;
	color: #007aff;
}

.NavEmailCount {
	top: 75px;
	left: 275px;
	width: 200px;
	text-align: center;
	font-weight: 500;
}

.FromName {
	top: 171px;
	left: 38px;
	font: "Helvetica Neue Interface Medium", Times, sans-serif;
	color: #007aff;
	font-weight: 500;
}

.ToString {
	width: 400px;
	top: 217px;
	left: 38px;
	text-align: left;
}

.ToString span {
	font-size: 34px;
}

.MoreLink {
	color: #007aff;
}

.Subject {
	top: 322px;
	font: "Helvetica Neue Interface Medium", Times, sans-serif;
	font-weight: 500;
	left: 38px;
}

.Date {
	top:376px;
	left:38px;
	font-size: 36px;
}

/*body text*/

.BodyText {
	width:700px;
	top: 474px;
	left: 36px;
	text-align: left;
}

.BodyText .Body1,
.BodyText .Body2 {
	margin-left: 0;
	padding-left: 0;
	line-height: 52px;
	margin-bottom: 52px;
	display:block;
}
