.StatusBarTime:before			{ content: "PREVIEW_STATUS_BAR_TIME";}
.NavEdit:before 				{ content: "PREVIEW_MESSAGES_NAV_EDIT";}
.NavMessages:before 			{ content: "PREVIEW_MESSAGES_NAV_MESSAGES";}
.NavName:before 				{ content: "PREVIEW_MESSAGES_NAV_NAME";}
.NavDetails:before 				{ content: "PREVIEW_MESSAGES_NAV_DETAILS";}
.iMessage:before				{ content: "PREVIEW_MESSAGES_IMESSAGE";}
.Today:before					{ content: "PREVIEW_MESSAGES_TODAY";}
.Time:before					{ content: "PREVIEW_MESSAGES_TIME";}
.GrayBubble1:before 			{ content: "PREVIEW_MESSAGES_GRAY_BUBBLE_1";}
.BlueBubble1:before 			{ content: "PREVIEW_MESSAGES_BLUE_BUBBLE_1";}
.BlueBubble2:before 			{ content: "PREVIEW_MESSAGES_BLUE_BUBBLE_2";}
.GrayBubble2:before 			{ content: "PREVIEW_MESSAGES_GRAY_BUBBLE_2";}
.BlueBubble3:before 			{ content: "PREVIEW_MESSAGES_BLUE_BUBBLE_3";}
.InputSend:before 				{ content: "PREVIEW_MESSAGES_INPUT_SEND";}
.ConversationName1:before 		{ content: "PREVIEW_CONVERSATION_NAME_1";}
.ConversationName2:before 		{ content: "PREVIEW_CONVERSATION_NAME_2";}
.ConversationName3:before 		{ content: "PREVIEW_CONVERSATION_NAME_3";}
.ConversationName4:before 		{ content: "PREVIEW_CONVERSATION_NAME_4";}
.ConversationName5:before 		{ content: "PREVIEW_CONVERSATION_NAME_5";}
.ConversationName6:before 		{ content: "PREVIEW_CONVERSATION_NAME_6";}
.ConversationName7:before 		{ content: "PREVIEW_CONVERSATION_NAME_7";}
.ConversationName8:before 		{ content: "PREVIEW_CONVERSATION_NAME_8";}
.ConversationName9:before 		{ content: "PREVIEW_CONVERSATION_NAME_9";}
.ConversationTime1:before 		{ content: "PREVIEW_CONVERSATION_TIME_1";}
.ConversationTime2:before 		{ content: "PREVIEW_CONVERSATION_TIME_2";}
.ConversationTime3:before 		{ content: "PREVIEW_CONVERSATION_TIME_3";}
.ConversationTime4:before 		{ content: "PREVIEW_CONVERSATION_TIME_4";}
.ConversationTime5:before 		{ content: "PREVIEW_CONVERSATION_TIME_5";}
.ConversationTime6:before 		{ content: "PREVIEW_CONVERSATION_TIME_6";}
.ConversationTime7:before 		{ content: "PREVIEW_CONVERSATION_TIME_7";}
.ConversationTime8:before 		{ content: "PREVIEW_CONVERSATION_TIME_8";}
.ConversationTime9:before 		{ content: "PREVIEW_CONVERSATION_TIME_9";}
.ConversationPreview1:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_1";}
.ConversationPreview2:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_2";}
.ConversationPreview3:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_3";}
.ConversationPreview4:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_4";}
.ConversationPreview5:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_5";}
.ConversationPreview6:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_6";}
.ConversationPreview7:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_7";}
.ConversationPreview8:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_8";}
.ConversationPreview9:before 	{ content: "PREVIEW_CONVERSATION_PREVIEW_9";}