BODY {
	direction:rtl !important;
}

/* 768 */

#springboard-medium { background: #FFF url(Magnify-SpringBoard-768-RTL-XL~ipad.jpg) top left no-repeat !important; }

#springboard-medium .FaceTime,
#springboard-medium .Contacts,
#springboard-medium .Videos,
#springboard-medium .iTunesStore,
#springboard-medium .Messages {
	 left: 1206px !important; 
}

#springboard-medium .DayOfWeek,
#springboard-medium .Calendar,
#springboard-medium .Clock,
#springboard-medium .Notes,
#springboard-medium .AppStore,
#springboard-medium .Safari {
	left: 853px !important;
}		

#springboard-medium .Photos,
#springboard-medium .Maps,
#springboard-medium .Reminders,
#springboard-medium .iBooks,
#springboard-medium .Mail {
	left: 502px !important;
}

#springboard-medium .Camera,
#springboard-medium .Home,
#springboard-medium .News,
#springboard-medium .Settings,
#springboard-medium .Music {
	left: 148px !important;
}

/* 1024 */

#springboard-large 	{ background: #FFF url(Magnify-SpringBoard-1024-RTL-XL~ipad.jpg) top left no-repeat !important; }

#springboard-large .FaceTime,
#springboard-large .Contacts,
#springboard-large .Videos,
#springboard-large .iTunesStore,
#springboard-large .Messages {
	 left: 1670px !important; 
}

#springboard-large .DayOfWeek,
#springboard-large .Calendar,
#springboard-large .Clock,
#springboard-large .Notes,
#springboard-large .AppStore,
#springboard-large .Safari {
	left: 1180px !important;
}		

#springboard-large .Photos,
#springboard-large .Maps,
#springboard-large .Reminders,
#springboard-large .iBooks,
#springboard-large .Mail {
	left: 690px !important;
}

#springboard-large .Camera,
#springboard-large .Home,
#springboard-large .News,
#springboard-large .Settings,
#springboard-large .Music {
	left: 198px !important;
}