@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

body { 
	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
//	margin-left: 0em;
	margin-right: 1em;
	margin-top: 0.4em;
	margin-bottom: 10px;
}

a	{
	color:#2971A7;
	text-decoration:none;
}

a:hover	{
	color:#2971A7;
	text-decoration:underline;
}

table {
	table-layout: fixed;
	width:95%;
	margin-bottom: 0.6em;
	margin-top: 0.5em;
	margin-left: 14px;	/*if indent 30px*/
	border-collapse: collapse;
	border-width: 1px;
	font-family:'Hiragino Kaku Gothic ProN';
}

caption {
	caption-side: bottom;
	font-size: 50%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: right;
}

tr {
	font-size: 80%;
	width:30%;
	border-width: 1px;
	border-style: none solid;
	border-color: #808080;
}

td {
	text-align: center;
	border-width: 1px;
	border-style: none solid;
	border-color: #808080;
}

td.rowheader {
	font-family: 'Hiragino Mincho ProN';
	font-weight:bold;
	text-align: right;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-width: 1px;
	border-style: none solid;
	border-color: #808080;
}

span.td_katsuyou {
	font-size: 50%;
	margin-right: 0.5em; 
	vertical-align:10%;
}

th {
	font-size: 90%;
	text-align: center;
	vertical-align: top;
	border-width: 1px;
	border-style: none solid;
	border-color: #808080;
}

*.entry {
//	font-family: 'Hiragino Mincho ProN';
	font-weight:normal;
	display: block;
	margin: 0em 0em 0em 0em; 
	margin-left: 0px; 
	margin-bottom: 1.2em;
}

/***************************************
	elements in head line
****************************************/
span.headword {
	display: block;
	font-weight:bold;
	font-size:150%;
	line-height: 120%;
}

span.headword > span.hyouki {
	font-weight:normal;
	font-size:80%;
	vertical-align:10%;
}

span.関連語 {
	display: block;
	font-weight:normal;
	margin-left: 2em; 
	font-size:80%;
}

span.関連語 span.kanren {
	margin-right: 0.5em; 
}

span.関連語 span.label {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-weight:bold;
	margin-right: 1em;
}

span.関連語 span.hyouki {
	font-weight:bold;
}

span.関連語 span.yomi {
	font-size:75%;
	vertical-align:-9%;
}


/***************************************
	elements in body line
****************************************/
span.meaning[type="意味"] {
	display: block;
	margin-top: 0.5em;
}

span.meaninglabel {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:80%;
	font-weight:bold;
	margin-right: 1em;
}

span.meaning[type="使い方"] {
	display: block;
	margin-left: 1em;
}

span.usagelabel, span.usagenotelabel, span.antlabel {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:80%;
	font-weight:bold;
	border: solid 2px #c0c0c0;
	margin-left: -1.25em;
	margin-right: 0.5em;
	padding:0.1em 0.2em;
}

span.usagewordlabel {
	font-weight:bold;
	margin-right: 0.5em;
}

span.usagebullet {
	font-size:80%;
	vertical-align:8%;
	margin-left: 0.3em;
	margin-right: 0.2em;
}

span.usageemph {
	font-weight:bold;
}

span.meaning[type="使い分け"] {
	display: block;
	margin-left: 1em;
}

span.meaning[type="反対語"] {
	display: block;
	margin-left: 1em;
}

span.meaning[type="関連語"] {
	display: block;
	font-size:80%;
	margin-left: 1em;
	margin-top: 0.5em;
}

span.relatedlabel, span.referencelabel {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:80%;
	font-weight:bold;
	color: #ffffff;
	Background: #606060;
	vertical-align:8%;
	border: solid 2px #606060;
	margin-left: -1em;
	margin-right: 0.5em;
	padding:0.1em 0.2em;
}

span.relatedwordlabel {
	font-weight:bold;
	margin-right: 0.5em;
	margin-top: 0.2em;
}

span.meaning[type="参照"] {
	display: block;
	font-size:80%;
	margin-left: 1em;
	margin-top: 0.5em;
}

span.yomi {
	font-size:75%;
	vertical-align:-9%;
}

span.okuri {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:75%;
	vertical-align:10%;
}

span.englishlabel {
	font-family: 'Hiragino Kaku Gothic ProN';
	font-size:80%;
	border: solid 2px #c0c0c0;
	margin-left: 0.18em;
	margin-right: 0.5em;
	margin-top: 0.18em;
	margin-bottom: 0.18em;
	vertical-align:10%;
}

unknownentity:before, unknowngaiji:before {
	content:'〓';
}

span.shogakukan_gaiji {
	font-family: 'ShogakukanDictionaries';
	font-weight:normal;
	font-style:normal;
}

/* For category view */
div.navigation {
	font-size:70%;
	margin-bottom: 1em;
}

div.sub-item {
	margin-top: 0.5em;
}

div.sub-sub-item {
	font-size:70%;
}

div.sub-item * span {
	font-size:70%;	/* Except the first-child */
}

div.sub-item * span:first-child, div.sub-sub-item * span:first-child {
	font-size:100%;
	font-weight:bold;
}

/* To show sub-sub-list, comment out the next. */
div.sub-sub-item {
	display: none;
}
