<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>no tone change</key>
	<array>
		<array>
			<string>他的</string>
			<string>她的</string>
			<string>它的</string>
		</array>
		<array>
			<string>他们</string>
			<string>她们</string>
			<string>它们</string>
		</array>
		<array>
			<string>他</string>
			<string>她</string>
		</array>
	</array>
	<key>tone change</key>
	<array>
		<array>
			<string>那里</string>
			<string>哪里</string>
		</array>
		<array>
			<string>吗</string>
			<string>嘛</string>
		</array>
		<array>
			<string>有</string>
			<string>又</string>
		</array>
		<array>
			<string>哪个</string>
			<string>那个</string>
		</array>
		<array>
			<string>那</string>
			<string>哪</string>
		</array>
		<array>
			<string>收到</string>
			<string>受到</string>
		</array>
		<array>
			<string>买</string>
			<string>卖</string>
		</array>
	</array>
</dict>
</plist>
