<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>string</key>
		<string>^ ^</string>
	</dict>
	<dict>
		<key>string</key>
		<string>^_^</string>
	</dict>
	<dict>
		<key>string</key>
		<string>^ - ^</string>
	</dict>
	<dict>
		<key>string</key>
		<string>^o^</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^ ^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^-^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^.^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^o^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^O^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^○^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^｡^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*^^*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*^_^*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（≧∇≦）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾_＾）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾◇＾）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾∇＾）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾Ｏ＾）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(⌒▽⌒)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣▽￣)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*^◯^*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(o^^o)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ^ω^ )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾ω＾）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾ν＾）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*^o^*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^-^)/</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^o^)/</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^O^)／</string>
	</dict>
	<dict>
		<key>string</key>
		<string>*\(^o^)/*</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^ー゜)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(-_^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_-)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>o(^_-)O</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(＾ｰ^)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ´ ▽ ` )ﾉ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>p(^_^)q</string>
	</dict>
	<dict>
		<key>string</key>
		<string>^_−☆</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_−)−☆</string>
	</dict>
	<dict>
		<key>string</key>
		<string>☆〜（ゝ。∂）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾＿＾）☆</string>
	</dict>
	<dict>
		<key>string</key>
		<string>＼(^o^)／</string>
	</dict>
	<dict>
		<key>string</key>
		<string>o(^▽^)o</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(((o(*ﾟ▽ﾟ*)o)))</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ヾ(＠⌒ー⌒＠)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_^)v</string>
	</dict>
	<dict>
		<key>string</key>
		<string>V(^_^)V</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ｖ（＾＿＾ｖ）♪</string>
	</dict>
	<dict>
		<key>string</key>
		<string>♪（ｖ＾＿＾）ｖ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>o(^_^)o</string>
	</dict>
	<dict>
		<key>string</key>
		<string>☆*:.｡. o(≧▽≦)o .｡.:*☆</string>
	</dict>
	<dict>
		<key>string</key>
		<string>♪───Ｏ（≧∇≦）Ｏ────♪</string>
	</dict>
	<dict>
		<key>string</key>
		<string>*･゜ﾟ･*:.｡..｡.:*･'(*ﾟ▽ﾟ*)'･*:.｡. .｡.:*･゜ﾟ･*</string>
	</dict>
	<dict>
		<key>string</key>
		<string>^^;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^^;;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>^_^;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>~_~;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>σ^_^;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>f^_^;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>;^_^A</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_^;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>f^_^;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>σ(^_^;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_^)a</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^_^*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^◇^;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(;^_^A</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(⌒-⌒; )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>-_-b</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*_*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(°_°)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(･･;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(~_~;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(-_-)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>{(-_-)}</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(ｰｰ;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(ｰ ｰ;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(-｡-;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(･_･;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(._.)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(｡-_-｡)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(´･_･`)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(u_u)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（；￣ェ￣）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（ーー；）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（−＿−；）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>orz</string>
	</dict>
	<dict>
		<key>string</key>
		<string>囧rz</string>
	</dict>
	<dict>
		<key>string</key>
		<string>＿|￣|○</string>
	</dict>
	<dict>
		<key>string</key>
		<string>m(._.)m</string>
	</dict>
	<dict>
		<key>string</key>
		<string>m(__)m</string>
	</dict>
	<dict>
		<key>string</key>
		<string>m(_ _)m</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（^人^）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(＞人＜;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ヽ(´o｀；</string>
	</dict>
	<dict>
		<key>string</key>
		<string>d(^_^o)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(｀_´)ゞ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣^￣)ゞ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(・ω・)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(=ﾟωﾟ)ﾉ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(´･Д･)」</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣Д￣)ﾉ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(・Д・)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(ﾟoﾟ;;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>∑(ﾟДﾟ)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(o_o)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(O_O)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>Σ（ﾟдﾟlll）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>Σ(￣。￣ﾉ)ﾉ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>Σ（・□・；）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（；゜０゜）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（;￣O￣）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣O￣;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>！(◎_◎;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣◇￣;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>´д` ;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(´Д` )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(　ﾟдﾟ)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(；´Д`A</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ；´Д｀)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>((((；ﾟДﾟ)))))))</string>
	</dict>
	<dict>
		<key>string</key>
		<string>&gt;_&lt;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>＞_＜</string>
	</dict>
	<dict>
		<key>string</key>
		<string>…&gt;_&lt;…</string>
	</dict>
	<dict>
		<key>string</key>
		<string>；＿；</string>
	</dict>
	<dict>
		<key>string</key>
		<string>/ _ ;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>T_T</string>
	</dict>
	<dict>
		<key>string</key>
		<string>T^T</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(&gt;_&lt;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(T_T)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(T . T)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(T ^ T)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(Ｔ＿Ｔ)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>|-|</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(;_;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(p_-)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(/ _ ; )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（ ;  ; ）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（；＿；）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（ ｉ _ ｉ ）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( T_T)＼(^-^ )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>。・゜・(ノД`)・゜・。</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(つД`)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>。・°°・(＞_＜)・°°・。</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(ノ_＜)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(−_−＃)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(♯｀∧´)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>o(｀ω´ )o</string>
	</dict>
	<dict>
		<key>string</key>
		<string>|(￣3￣)|</string>
	</dict>
	<dict>
		<key>string</key>
		<string>W(`0`)W</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*｀へ´*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ψ(｀∇´)ψ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( *｀ω´)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(¬_¬)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣ー￣)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（￣+ー￣）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(・・?)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ? _ ? )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>!?(･_･;?</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(@_@)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(o_0)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(O_o)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>~(・・？））</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(c_c)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ヽ(￣д￣;)ノ=3=3=3</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(,_')</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ε=ε=ε=ε=ε=ε=┌(;￣◇￣)┘</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(=´∀｀)人(´∀｀=)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>♪(*^^)o∀*∀o(^^*)♪</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ^ ^ )/□</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ^ ^ )/■</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^^)／~~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ^_^)/~~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(ToT)/~~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（・◇・）/~~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ; _ ; )/~~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ヽ(；▽；)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^з^)-☆</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(OvO)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^L^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(^(^)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(*☻-☻*)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(b_d)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(&gt;_&gt;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(&lt;_&lt;)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>)^o^(</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(@￣ρ￣@)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ε-(´∀｀; )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(z_z)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(e_e)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(( _ _ ))..zzzZZ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(-_-)zzz</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(_ _).｡o○</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(=￣ ρ￣=) ..zzZZ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>d(￣ ￣)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>_φ(･_･</string>
	</dict>
	<dict>
		<key>string</key>
		<string>＿φ(￣ー￣ )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>\(//∇//)\</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(#^.^#)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>♪( ´▽｀)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>♪(´ε｀ )</string>
	</dict>
	<dict>
		<key>string</key>
		<string>♪( ´θ｀)ノ</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（＾Ｏ＾☆♪</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（´-`）.｡oO（</string>
	</dict>
	<dict>
		<key>string</key>
		<string>( ´Д`)y━･~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(-.-;)y-~~~</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(-.-)y-., o O</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(ﾟOﾟ)＼(- -;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(=^x^=)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>=(^.^)=</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(=^ェ^=)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>U・x・U</string>
	</dict>
	<dict>
		<key>string</key>
		<string>▽・x・▽</string>
	</dict>
	<dict>
		<key>string</key>
		<string>U^ェ^U</string>
	</dict>
	<dict>
		<key>string</key>
		<string>∧( 'Θ' )∧</string>
	</dict>
	<dict>
		<key>string</key>
		<string>⊂((・⊥・))⊃</string>
	</dict>
	<dict>
		<key>string</key>
		<string>⊂((・x・))⊃</string>
	</dict>
	<dict>
		<key>string</key>
		<string>@(・●・)@</string>
	</dict>
	<dict>
		<key>string</key>
		<string>＠ 'ェ' ＠</string>
	</dict>
	<dict>
		<key>string</key>
		<string>(￣(工)￣)</string>
	</dict>
	<dict>
		<key>string</key>
		<string>&gt;* ))))&gt;&lt;</string>
	</dict>
	<dict>
		<key>string</key>
		<string>ϵ( 'Θ' )϶</string>
	</dict>
	<dict>
		<key>string</key>
		<string>//_o\</string>
	</dict>
	<dict>
		<key>string</key>
		<string>囧</string>
	</dict>
	<dict>
		<key>string</key>
		<string>☆彡</string>
	</dict>
	<dict>
		<key>string</key>
		<string>★彡</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（笑）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（汗）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（泣）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（涙）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（爆笑）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（苦笑）</string>
	</dict>
	<dict>
		<key>string</key>
		<string>（大汗）</string>
	</dict>
</array>
</plist>
